*,html{
    margin-top: 8px;
    margin-left: 8px;
    padding: 0;
}

img {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

table, 
th, 
td {
            border: 1px solid black;
        }


.h1-judul{
    color:tomato;
}

.navbar {
    background-color: rgb(74, 213, 255);
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

